body{
    color: solid black;
}

.gameTitle{
    border: solid gray; 
    text-align: center;
    color: white; 
    background-color: rgb(0, 0, 0);
    box-shadow: 15px 10px rgb(179, 155, 155);
}
.mainBox{
    /* border: solid gray;  */
    height: 90vh; 
    width: 100%; 
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif");
    background-size: cover;
    background-size: 100%;background-size: 100vw 100vh;
}
.shipContainer{
    /* border: solid blue;  */
    height: 50vh; 
    display: flex; 
}
.eachShipContainerL,.eachShipContainerR{
    /* border: solid yellow;  */
    height: 50vh; 
    width: 50%; 
    display: flex; 
    align-content: center;
    justify-content: center;
}
.buttonContainer{
    /* border: solid red;  */
    height: 5vh; 
    display: flex; 
    justify-content: center;
}
.displayContainer{
    /* border: solid gray;  */
    height: 20vh; 
    display: flex; 
}
.displayBoxes{
    border: solid gray; 
    height: 20vh; 
    width: 50%; 
    display: flex; 
    margin: 20px; 
    padding: 20px; 
    font-size: 20px;
    box-shadow: 15px 10px rgb(34, 26, 26);
}
.displayBoxesInside{
    display: flex; 
    flex-direction: column;
}